*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none !important;
    color: rgb(255, 255, 255);
}

.nav{
    margin: 20px;
    padding: 20px;
    background-color: cornflowerblue;
    min-width: 900px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

img{
    height: 50px;
    margin-right: 20px;
}

h1{
    align-items: left;
    font-size: normal;
    font-weight: 500;
    font-size: 28px;
    color: white;
}

li{
    margin: 100px;
    display: inline;
    text-align: left;
    cursor: pointer;
    text-decoration: none !important;
    color: rgb(255, 255, 255);
}
